<div class="container create-super">
      <%= simple_form_for(@super) do |f| %>
        <div class="radios">
          <%= f.collection_radio_buttons :super_type, [['hero', 'Hero'], ['villain', 'Villain']], :first, :last %>
        </div>
        <%= f.input :universe, collection: ['Marvel', 'DC', 'Pixar', 'Hogwarts'] %>
        <%= f.input :super_name, label: "Name" %>
        <%= f.input :address %>
        <div><%= f.input :strength, collection: (1..5).to_a %></div>
        <div><%= f.input :humour, collection: (1..5).to_a %></div>
        <div><%= f.input :romance, collection: (1..5).to_a %></div>
        <div><%= f.input :kindness, collection: (1..5).to_a %></div>
        <%= f.input :price %>
        <%= f.input :description %>
        <%= f.input :availability %>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.submit class: 'btn btn-success', label: "Create" %>
      <% end %>
</div>
