<div style="background: rgb(72, 56, 118)">
  <div class="text-center text-white">
    <h1 style="font-family: Bangers; font-size: 68px">SUPERDATES</h1>
  </div>

  <div class="container">
    <div class="row justify-content-center">
        <% @supers.each do |sup| %>
            <div class="show-card-index" style="width: 315px; height: 550px;">
            <div class="card-img">
            <% if sup.photos.attached? %>
                <%= cl_image_tag sup.photos[0].key, class: "card-img-top" %>
            <% else %>
                <img src="" alt="">
            <% end %>
            </div>
                <div class="card-body-index">
                  <div class="card-title-index">
                    <div class="d-flex justify-content-between">
                    <h5 class="super-name-index" style="text-transform: uppercase; font-size: 36px; font-family: 'Bangers';"><%= sup.super_name %></h5>
                    <button class="btn-view-index" style="text-decoration: none; color: white;"> <%= link_to "VIEW", super_path(sup) %> </button>
                    </div>
                    <div class="universe-title"><%= sup.universe %> </div>
                    <div class="" style="text-align: center;">
                      <div class="character-trait"> S T R E N G T H   :   <%= "  ""🖤" * sup.strength.to_i %> </div>
                      <div class="character-trait"> H U M O U R   : <%= "  ""🖤" * sup.humour.to_i %> </div>
                      <div class="character-trait"> R O M A N C E    : <%= "  ""🖤" * sup.romance.to_i %> </div>
                      <div class="character-trait"> K I N D N E S S    :  <%= "  ""🖤" * sup.kindness.to_i %> </div>
                    </div>
                    <div class="badge badge-price" style="font-size: 18px; margin-left: 200px;"> £<%= sup.price %> /HR </div>
                  </div>
                </div>
            </div>
        <% end %>
    </div>
  </div>
</div>
    <div class="show-card-index" style="width: 315px; height: 550px; ml-10;">
      <div id="map" style="width: 100%; height: 600px;"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
