<div style="background: rgb(72, 56, 118)">
  <div class="text-center text-white">
    <h1 style="font-family: Bangers; font-size: 68px">SUPERDATES</h1>
  </div>

  <div class="container">
    <div class="row justify-content-center">
        <% @supers.each do |sup| %>
            <div class="show-card-index" style="width: 315px; height: 550px;">
            <div class="card-img">
            <% if sup.photos.attached? %>
                <%= cl_image_tag sup.photos[0].key, class: "card-img-top" %>
            <% else %>
                <img src="" alt="">
            <% end %>
            </div>
                <div class="card-body">
                  <div class="card-title">
                    <h5 class="card-title super-name" style="text-transform: uppercase; font-size: 36px; font-family: 'Bangers';"><%= sup.super_name %></h5>
                    <h6 class="universe-title"><%= sup.universe %></h6>
                    <span class="badge badge-price" style="font-size: 18px;"> £<%= sup.price %>/HR</span>
                  </div>
                  <div class="character">
                    <ul>
                    <li class="character-trait"> STRENGTH <%= "  ""🖤" * sup.strength.to_i %> </li>
                    <li class="character-trait"> HUMOUR  <%= "  ""🖤" * sup.humour.to_i %> </li>
                    <li class="character-trait"> ROMANCE  <%= "  ""🖤" * sup.romance.to_i %> </li>
                    <li class="character-trait"> KINDNESS  <%= "  ""🖤" * sup.kindness.to_i %> </li>
                    </ul>
                  </div>
                  <div class="card-select">
                    <button class="btn-view" style="text-decoration: none;"> <%= link_to "VIEW", super_path(sup)%> </button>
                  </div>
                </div>
            </div>
        <% end %>
    </div>
  </div>
</div>
