<h1 class="super">Your Super Selection</h1>

<div class="container col-6 mt-3">
  <div class="show-card">
      <%= cl_image_tag @super.photos[0].key, height: 300, width: 400, crop: :pad, class: "card-img-top"%>
      <h1> <%= @super.super_name %></h1>
      <h3><% @super.price %></h3>
      <img src="https://res.cloudinary.com/dk3fbg9zm/image/upload/v1645544420/strengths_lqfqdf.png" alt="strengths-bar" class="strengths">
      <div class="super-description">
        <p><strong>Descrption:</strong><%= @super.description %></p>
        <%= link_to "BOOK NOW", new_super_super_date_path(@super), class: "bt btn-success"%>
        <%= link_to 'Edit', edit_super_path(@super) %>
        <%= link_to "Remove",
                  super_path(@super),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
      </div>
  </div>
</div>
