<div class="container col-6">
  <%= simple_form_for [@super, @super_date] do |f| %>
          <%= f.input :date, as: :date, html5: true %>
          <%= f.input :hours %>
          <%= f.input :comment %>
          <%= f.submit class: 'btn btn-success' %>
  <% end %>
</div>
